
/*Css responsável por deixar o componente de loading branco*/
@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #fff;
    }
}

/*Css responsável por deixar o modal com zindex fixo*/
.p-component-overlay{
    z-index: 999 !important
}
/*Css responsável por deixar o filtro de dentro do asyncSelect no tamanho máximo*/
.p-dropdown-filter-container{
    width: 100%;
}

/*Css responsável por deixar o filtro de dentro do MultiSelect no tamanho ideal*/
.p-multiselect-filter-container{
    width: 80%;
}

/*Css responsável por deixar o filtro de dentro do asyncSelect com as bordas certas*/
body .p-dropdown-panel .p-dropdown-filter-container .p-dropdown-filter{
    border-right-width: 1px;
    border-right-style: outset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*Css responsável por deixar o filtro de dentro do MultiSelect com as bordas certas*/
.p-inputgroup .p-inputtext:not(:last-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid rgb(166, 166, 166);
}