/* General */
$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.2s;
$maskBgColor:#424242;

/* Menu */
$scrollPanelBgColor:#aaaaaa;
$menuitemBadgeBgColor:#062236;
$menuitemBadgeColor:#ffffff;
$submenuFontSize:13px;

/* Menu Dark*/
$menuDarkBgColorFirst:#4d505b;
$menuDarkBgColorLast:#3b3e47;
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:#062236;
$menuitemDarkActiveColor:#062236;
$menuitemDarkActiveBgColor:#2e3035;
$menuitemDarkBorderColor:rgba(52, 56, 65, 0.6);

/* Menu Light*/
$menuBgColorFirst:#f3f4f9b7;
$menuBgColorLast:#d7dbe88c;
$menuitemColor:#232428;
$menuitemHoverColor:#06c;
$menuitemActiveColor:#06c;
$menuitemActiveBgColor:#ffffff;
$menuitemBorderColor:rgba(207, 211, 224, 0.548);

/* Topbar */
$topbarLeftBgColor:#062236;
$topbarRightBgColor:#06c;
$topbarItemBadgeBgColor:#ef6262;
$topbarItemBadgeColor:#ffffff;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#fafafa;
$topbarSearchInputBorderBottomColor:#ffffff;
$topbarSearchInputColor:#ffffff9c;

/* Footer */
$footerBgColor:#ffffff;

@import "./sass/_layout";